[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "emhawkes"]
	path = emhawkes
	url = https://github.com/ksublee/emhawkes
	shallow = true
	registered = true
